<cb-header [isTranslucent]="true">
  <ion-title cb-header-1>{{ 'CB.SUPPORT.SUPPORT' | translate }}</ion-title>
</cb-header>

<ion-content #content>
  <ion-grid class="support-container">
    @for (message of messages; track message; let i = $index) {
      <ion-row
        class="ion-no-padding"
        [ngClass]="{'bot-message-bubble': message.from === 'bot', 'user-message-bubble': message.from === 'user'}"
        [ngStyle]="{'margin-bottom': i === messages.length - 1 ? '0.5rem' : '1rem'}"
        >
        <ion-col class="message-content ion-no-padding">
          <div class="message-text">
            <ion-label>{{ message.text }}</ion-label>
          </div>
          <!-- News Suggestions displayed for user to pick -->
          @if (message.from === 'bot') {
            <div>
              @for (suggestionNews of message.news; track suggestionNews) {
                <div class="news-suggestion-container" (click)="newsClicked(suggestionNews)">
                  <ion-label>{{suggestionNews.title}}</ion-label>
                  <br />
                  <ion-text class="news-suggestion-dates">{{suggestionNews.createDate}}</ion-text>
                </div>
              }
              <!-- A news is selected -->
              @for (issue of message.newsIssue; track issue) {
                <div class="news-suggestion-container" (click)="newsIssueClicked(issue)">
                  <ion-label>{{issue.message}}</ion-label>
                </div>
              }
            </div>
          }
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <!-- Suggestions -->
    @if (suggestions.length > 0 && messages.length === 0) {
      <div class="suggestion-container">
        @for (suggestion of suggestions; track suggestion) {
          <div class="suggestion" (click)="selectSuggestion(suggestion)">
            <ion-text>{{ suggestion }}</ion-text>
          </div>
        }
      </div>
    }

    <ion-item>
      <ion-input [(ngModel)]="newMessage" placeholder="Type a message" (keyup.enter)="sendClicked()"></ion-input>
      <ion-icon
        name="send"
        color="cbprimary"
        class="send-icon"
        (click)="sendClicked()"
        [ngClass]="{'disabled': !newMessage.trim()}"
      ></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-footer>