.support-container {
    display: flex;
    flex-direction: column;
}

.suggestion-container {
    display: flex;
    flex-wrap: wrap;
}

.bot-message-bubble, .user-message-bubble {
    max-width: 70%;
    border-radius: 16px;
    margin-bottom: 1rem;
}

.bot-message-bubble {
    align-self: flex-start;
    background-color: #7db552; // Light Theme color: #dcf8c6
}

.user-message-bubble {
    align-self: flex-end;
    background-color: var(--ion-color-cbprimary);
}

.message-content {
    word-wrap: break-word;

    .message-text {
        padding: 0.75rem 1rem;
    }
}

.news-suggestion-container {
    padding: 1rem;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background-color: var(--ion-color-light);
    border-bottom: 1px solid var(--ion-color-dark);

    ion-label {
        font-size: 14px;
    }

    .news-suggestion-dates {
        display: flex;
        font-size: 10px;
        padding-top: 4px;
        justify-content: flex-end;
    }
}

.news-suggestion-container:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.send-icon {
    font-size: 2rem;
    color: var(--ion-color-cbprimary);
  
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

ion-footer {
    ion-toolbar {
        .suggestion {
            cursor: pointer;
            margin: 8px 4px;
            padding: 8px 16px;
            user-select: none;
            border-radius: 16px;
            background-color: var(--ion-color-light);
        }

        ion-input {
            flex: 1;
            margin-right: 8px;
        }
  
        ion-button {
            --padding-start: 0;
            --padding-end: 0;
        }
    }
}