<!-- Input Field for Consumption -->
<ion-row><ion-col class="ion-no-padding">
    <ion-item class="consumption-item-container">
        <ion-input
            type="number"
            labelPlacement="floating"
            [label]="consumptionPerYearLabel | translate"
            [max]="sector.maxConsumption"
            #ionConsumptionInputEl
            [value]="consumptionPerYear"
            (ionInput)="onConsumptionInput($event)"
        ></ion-input>
    </ion-item>
</ion-col></ion-row>

<!-- Slider for Consumption -->
<ion-row><ion-col class="ion-no-padding">
    <ion-range
        [pin]="true"
        type="number"
        color="warning"
        class="consumption-slider"
        [min]="sector.minConsumption"
        [max]="sector.maxConsumption"
        [(ngModel)]="consumptionPerYear"
        (ionInput)="consumptionChanged($event)"
    >
        <ion-icon color="warning" slot="start" name="flash-outline"></ion-icon>
        <ion-icon color="warning" slot="end" name="flash-sharp"></ion-icon>
    </ion-range>
</ion-col></ion-row>