.login-form-container {
    margin-top: 8px;
    margin-bottom: 8px;
}

.register-link-container {
    text-align: center;
}

.register-link {
    text-decoration: underline;
    color: var(--ion-color-primary);
}