<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title slot="start" color="primary">{{ 'DASHBOARD.DASHBOARD' | translate }}</ion-title>
        <ion-icon slot="end" size="large" [src]="coreData.logoutIconUrl" class="toolbar-slot-end-icon" (click)="logoutUser()"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'DASHBOARD.DASHBOARD' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid *ngIf="isLoadingContent">
        <hub-content-loader></hub-content-loader>
        <hub-content-loader></hub-content-loader>
        <hub-content-loader></hub-content-loader>
    </ion-grid>

    <ion-grid *ngIf="!isLoadingContent">
        <ion-row><ion-col>
            <ion-card class="modern-card" (click)="selectContractBookerApp()">
                <!-- Images -->
                <ion-row><ion-col>
                    <img [alt]="contractBookerData.gasAltText" [src]="contractBookerData.gasSvgUrl" />
                </ion-col>
                <ion-col>
                    <img [alt]="contractBookerData.electricityAltText" [src]="contractBookerData.electricitySvgUrl" />
                </ion-col></ion-row>
                <!-- App Title -->
                <ion-card-header>
                    <ion-card-title>{{ contractBookerData.appName }}</ion-card-title>
                </ion-card-header>
                <!-- App Description -->
                <ion-card-content>
                    {{ contractBookerData.appDescription }}
                </ion-card-content>
            </ion-card>
        </ion-col></ion-row>
    </ion-grid>
</ion-content>
