.modern-card {
    background: linear-gradient(45deg, #3498db, #9b59b6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    color: var(--ion-color-light);
} 

.modern-card ion-card-title {
    color: var(--ion-color-light);
    font-weight: bold;
    font-size: 24px;
    margin: 10px 0;
}  

.modern-card ion-card-content {
    font-size: 18px;
    padding: 20px;
}

.modern-card ion-card-header {
    padding-bottom: 0px;
}

.app-icon-row-container {
    padding-top: 16px;
}

.app-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard-logout-icon {
    padding: 8px 16px;
}

.dashboard-app-card-container {
    margin-top: 1rem;
}