<cb-header>
    <ion-title cb-header-1>{{ 'CB.CUSTOMER_ADDRESS.CUSTOMER_ADDRESS' | translate }}</ion-title>
</cb-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'CB.CUSTOMER_ADDRESS.CUSTOMER_ADDRESS' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <form class="login-form-container" [formGroup]="customerAddressForm" (ngSubmit)="validateCustomerAddress()">
            <!-- State Form Field -->
            <hub-form-input>
                <ion-input
                    form-input-field
                    type="text"
                    formControlName="state"
                    [readonly]="true"
                    labelPlacement="floating"
                    (click)="openStateSearchBar()"
                    label="{{ 'CB.CUSTOMER_ADDRESS.STATE' | translate }}"
                ></ion-input>
            </hub-form-input>

            <!-- City Form Field -->
            <hub-form-input>
                <ion-input
                    form-input-field
                    type="text"
                    formControlName="city"
                    [readonly]="true"
                    labelPlacement="floating"
                    (click)="openCitiesSearchBar()"
                    label="{{ 'CB.CUSTOMER_ADDRESS.CITY' | translate }}"
                ></ion-input>
            </hub-form-input>

            <!-- Postcode Form Field -->
            <hub-form-input>
                <ion-input
                    form-input-field
                    type="tel"
                    formControlName="postCode"
                    [maxlength]="customerAddressFormHelpers.postCodeMaxLength"
                    labelPlacement="floating"
                    label="{{ 'CB.CUSTOMER_ADDRESS.POSTCODE' | translate }}"
                    placeholder="{{ 'CB.CUSTOMER_ADDRESS.ENTER_POSTCODE' | translate }}"
                ></ion-input>
            </hub-form-input>
        </form>
    </ion-grid>
</ion-content>

<hub-form-footer>
    <ion-button
        class="form-submission-bottom-button"
        form-submission-bottom-button
        [disabled]="isValidatingCustomerAddressForm ||customerAddressForm.invalid"
        (click)="validateCustomerAddress()"
        expand="full"
    >
        <ion-spinner *ngIf="isValidatingCustomerAddressForm" name="lines-sharp-small"></ion-spinner>
        <ion-label *ngIf="!isValidatingCustomerAddressForm">{{ 'CB.CUSTOMER_ADDRESS.SELECT_ADDRESS' | translate }}</ion-label>
    </ion-button>
</hub-form-footer>