<cb-header [isTranslucent]="true">
    <ion-title cb-header-1>{{ 'CB.PRODUCT_SELECTION.STANDARD_CONSULTATION' | translate }}</ion-title>
</cb-header>

<ion-content [fullscreen]="true" scrollY="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'CB.PRODUCT_SELECTION.STANDARD_CONSULTATION' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <!-- List of available Products for each Sector -->
        <ion-row *ngIf="selectedSector">
            <ion-col size="12" class="product-container">
                <cb-product-card *ngFor="let product of products" (click)="productClicked(product)" [product]="product"></cb-product-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-segment color="warning" [value]="selectedSector">
            <ion-segment-button *ngFor="let sector of sectors" [value]="sector.sectorId" (click)="sectorClicked(sector)">
                <ion-label>{{sector.sectorName}}</ion-label>
                <ion-icon [src]="sector.sectorIcon"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>
