canvas {
    box-shadow: 0 0 8px var(--ion-color-warning);
}

.signature-block-container {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;

    > div {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.signature-canvas {
    touch-action: none;
}

.tnc-list-container {
    h4 {
        margin-top: 0;
    }

    ul li {
        margin-bottom: 1rem;
    }
}

.tnc-read-container {
    display: flex;
    align-items: center;

    ion-checkbox {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}