ion-grid {
    display: grid;
}

.consultation-type-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    ion-img:first-child {
        max-width: 100px;
        max-height: 100px;
        margin-bottom: 1rem;
    }
}

.consultation-type-container ion-label {
    text-align: center;
}