<cb-header [isTranslucent]="true">
    <ion-title cb-header-1>{{ 'CB.PRODUCT_SELECTION.PRODUCT_SELECTION' | translate }}</ion-title>
</cb-header>

<ion-content [fullscreen]="true">
    <cb-header collapseValue="condense" [isSecondHeader]="true">
        <ion-title cb-header-1>{{'CB.PRODUCT_SELECTION.PRODUCT_SELECTION' | translate}}</ion-title>
    </cb-header>
  
    <ion-grid>
        <ion-row>
            <ion-col class="consultation-type-container">
                <ion-img
                    (click)="consultationMethodClicked(this.standardConsultation)"
                    [alt]="contractBookerData.standardConsultationImgAlt"
                    [src]="contractBookerData.standardConsultationSvgUrl"
                ></ion-img>
                <ion-label color="cbprimary" [autocapitalize]="true">{{ 'CB.PRODUCT_SELECTION.STANDARD_CONSULTATION' | translate }}</ion-label>
            </ion-col>

            <ion-col class="consultation-type-container">
                <ion-img (click)="consultationMethodClicked(this.priceComparison)"
                    [alt]="contractBookerData.priceComparisonImgAlt"
                    [src]="contractBookerData.priceComparisonSvgUrl"
                ></ion-img>
                <ion-label color="cbprimary" [autocapitalize]="true">{{ 'CB.PRODUCT_SELECTION.PRICE_COMPARISON' | translate }}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>