.cb-home-module-row-container {
    > ion-col {
        display: flex;
        flex-direction: column;    
    }
}

.home-module-images {
    height: 40%;
}

.consultation-start-fab {
    right: 4vh;
    bottom: 4vh;
}

.consultation-start-fab ion-fab-button ion-icon {
    width: 100%;
    height: 100%;
}