<cb-header [isTranslucent]="true">
    <ion-title cb-header-1>{{ 'CB.HOME.HOME' | translate }}</ion-title>
</cb-header>

<ion-content [fullscreen]="true">
    <cb-header [collapseValue]="'condense'">
        <ion-title cb-header-1>{{'CB.HOME.HOME' | translate}}</ion-title>
    </cb-header>

    <ion-grid *ngIf="cbHomeModules.length > 0">
        <ion-row class="cb-home-module-row-container">
            <ion-col *ngFor="let module of cbHomeModules" class="ion-text-center" (click)="moduleClicked(module)">
                <ion-img class="home-module-images" [src]="module.image"></ion-img>
                <ion-label class="ion-text-center ion-padding">{{module.name}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab class="consultation-start-fab">
        <ion-fab-button (click)="startConsultation()">
            <ion-icon [src]="contractBookerData.consultationStartSvg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>