.cb-home-module-row-container {
    > ion-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.home-module-images {
    height: 40%;
}

.consultation-start-fab {
    position: fixed;
    bottom: 5vh;
    right: 5%;
}

.consultation-start-fab ion-fab-button ion-icon {
    width: 100%;
    height: 100%;
    background-color: var(--ion-color-warning);
}