<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'MC.HOME.HOME' | translate }}</ion-title>
    <app-profile-header slot="end"></app-profile-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>{{ 'MC.HOME.HOME' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <!-- Reminders App. Native only -->
    @if (isNativePlatform) {
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="reminderAppClicked()">
            <ion-card-header class="ion-align-items-center">
              <ion-icon src="assets/icon/miscellaneous/reminder.svg" size="large"></ion-icon>
            </ion-card-header>
            <ion-card-content class="ion-text-center">
              {{ 'MC.REMINDER.REMINDER' | translate }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    }
  </ion-grid>
</ion-content>