<ion-header [translucent]="isTranslucent">
    <ion-toolbar color="warning">
        <ng-content select="[cb-header-1]"></ng-content>
        <ng-content select="[cb-header-2]"></ng-content>
        <div cb-header-3 slot="end" [hidden]="!isCartCountGreaterThanZero()">
            <ion-icon
                size="large"
                [src]="contractBookerData.shoppingCartSvgUrl"
                (click)="openShoppingCart()"
            ></ion-icon>
            <ion-badge (click)="openShoppingCart()" class="cart-item-count">{{contracts.length}}</ion-badge>
        </div>
        <app-profile-header cb-header-4 slot="end"></app-profile-header>
    </ion-toolbar>
</ion-header>