<cb-header [isTranslucent]="true">
    <ion-title cb-header-1>{{ 'CB.CUSTOMER_ADDRESS.CUSTOMER_ADDRESS' | translate }}</ion-title>
</cb-header>

<ion-content [fullscreen]="true">
    <cb-header collapseValue="condense" [isSecondHeader]="true">
        <ion-title cb-header-1>{{'CB.CUSTOMER_ADDRESS.CUSTOMER_ADDRESS' | translate}}</ion-title>
    </cb-header>

    <ion-grid>
        <form class="customer-address-form-container" [formGroup]="customerAddressForm" (ngSubmit)="validateCustomerAddress()">
            <!-- Radios for New or Existing Customer -->
            <ion-radio-group formControlName="isNewCustomer" class="customer-type-radio-container">
                <!-- New Customer -->
                <cb-radio
                    [value]="true"
                    [labelPlacement]="'end'"
                    [labelText]="'CB.CUSTOMER_ADDRESS.NEW_CUSTOMER' | translate"
                ></cb-radio>

                <!-- Existing Customer -->
                <cb-radio
                    [value]="false"
                    [labelPlacement]="'end'"
                    [labelText]="'CB.CUSTOMER_ADDRESS.EXISTING_CUSTOMER' | translate"
                ></cb-radio>
            </ion-radio-group>

            <!-- Customer Number Form Field -->
            <cb-form-input [hidden]="customerAddressForm.get('isNewCustomer')?.value">
                <ion-input
                    form-input-field
                    type="text"
                    [maxlength]="customerAddressFormHelpers.customerNumberMaxLength"
                    formControlName="customerNumber"
                    labelPlacement="floating"
                    label="{{ 'CB.CUSTOMER_ADDRESS.CUSTOMER_NUMBER' | translate }}"
                    placeholder="{{ 'CB.CUSTOMER_ADDRESS.ENTER_CUSTOMER_NUMBER' | translate }}"
                ></ion-input>
            </cb-form-input>

            <!-- Radios for Private or Business Customer -->
            <ion-radio-group formControlName="isPrivateCustomer" class="customer-type-radio-container">
                <!-- Private Customer -->
                <cb-radio
                    [value]="true"
                    [labelPlacement]="'end'"
                    [labelText]="'CB.CUSTOMER_ADDRESS.PRIVATE_CUSTOMER' | translate"
                ></cb-radio>
                
                <!-- Business Customer -->
                <cb-radio
                    [value]="false"
                    [labelPlacement]="'end'"
                    [labelText]="'CB.CUSTOMER_ADDRESS.BUSINESS_CUSTOMER' | translate"
                ></cb-radio>
            </ion-radio-group>

            <!-- Company Form Field -->
            <cb-form-input [hidden]="customerAddressForm.get('isPrivateCustomer')?.value">
                <ion-input
                    form-input-field
                    type="text"
                    [maxlength]="customerAddressFormHelpers.companyNameMaxLength"
                    formControlName="company"
                    labelPlacement="floating"
                    label="{{ 'CB.CUSTOMER_ADDRESS.COMPANY' | translate }}"
                ></ion-input>
            </cb-form-input>

            <!-- State Form Field -->
            <cb-form-input>
                <ion-input
                    form-input-field
                    type="text"
                    formControlName="state"
                    [readonly]="true"
                    labelPlacement="floating"
                    (click)="openStateSearchBar()"
                    label="{{ 'CB.CUSTOMER_ADDRESS.STATE' | translate }}"
                ></ion-input>
            </cb-form-input>

            <!-- City Form Field -->
            <cb-form-input>
                <ion-input
                    form-input-field
                    type="text"
                    formControlName="city"
                    [readonly]="true"
                    labelPlacement="floating"
                    (click)="openCitiesSearchBar()"
                    label="{{ 'CB.CUSTOMER_ADDRESS.CITY' | translate }}"
                ></ion-input>
            </cb-form-input>

            <!-- Postcode Form Field -->
            <cb-form-input>
                <ion-input
                    form-input-field
                    type="tel"
                    formControlName="postCode"
                    [maxlength]="customerAddressFormHelpers.postCodeMaxLength"
                    labelPlacement="floating"
                    label="{{ 'CB.CUSTOMER_ADDRESS.POSTCODE' | translate }}"
                    placeholder="{{ 'CB.CUSTOMER_ADDRESS.ENTER_POSTCODE' | translate }}"
                ></ion-input>
            </cb-form-input>
        </form>
    </ion-grid>
</ion-content>

<cb-form-footer>
    <ion-button
        cb-bottom-button
        [disabled]="isValidatingCustomerAddressForm ||customerAddressForm.invalid"
        (click)="validateCustomerAddress()"
        expand="full"
    >
        <ion-spinner [hidden]="!isValidatingCustomerAddressForm" name="lines-sharp-small"></ion-spinner>
        <ion-label [hidden]="isValidatingCustomerAddressForm">{{ 'CB.CUSTOMER_ADDRESS.SELECT_ADDRESS' | translate }}</ion-label>
    </ion-button>
</cb-form-footer>