<ion-header [translucent]="true">
    <ion-toolbar><ion-title>{{ 'SIGNUP.SIGNUP' | translate }}</ion-title></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar><ion-title>{{ 'SIGNUP.SIGNUP' | translate }}</ion-title></ion-toolbar>
    </ion-header>

    <ion-grid>
        <form class="signup-form-container" [formGroup]="signupForm" (ngSubmit)="validateSignupForm()">
            <hub-form-input>
                <ion-input
                    form-input-field
                    type="text"
                    label="{{ 'SIGNUP.USERNAME' | translate }}"
                    labelPlacement="floating"
                    placeholder="{{ 'SIGNUP.ENTER_USERNAME' | translate }}"
                    formControlName="username"
                    [maxlength]="signupPageFormValidators.MaxLengthForUserName"
                ></ion-input>
            </hub-form-input>
        
            <hub-form-input>
                <ion-input
                    form-input-field
                    type="password"
                    label="{{ 'SIGNUP.PASSWORD' | translate }}"
                    labelPlacement="floating"
                    placeholder="{{ 'SIGNUP.ENTER_PASSWORD' | translate }}"
                    formControlName="password"
                    [maxlength]="signupPageFormValidators.MaxLengthForPassword"
                ></ion-input>
            </hub-form-input>

            <hub-form-input>
                <ion-input
                    form-input-field
                    type="password"
                    label="{{ 'SIGNUP.CONFIRM_PASSWORD' | translate }}"
                    labelPlacement="floating"
                    placeholder="{{ 'SIGNUP.ENTER_PASSWORD_AGAIN' | translate }}"
                    formControlName="confirmPassword"
                    [maxlength]="signupPageFormValidators.MaxLengthForPassword"
                ></ion-input>
            </hub-form-input>
        </form>
    </ion-grid>
</ion-content>

<hub-form-footer>
    <ion-button
        class="form-submission-bottom-button"
        form-submission-bottom-button
        [disabled]="isSigningUp || signupForm.invalid"
        (click)="validateSignupForm()"
        expand="full"
    >
        <ion-spinner *ngIf="isSigningUp" name="lines-sharp-small"></ion-spinner>
        <ion-label *ngIf="!isSigningUp">{{ 'SIGNUP.SIGNUP' | translate }}</ion-label>
    </ion-button>
</hub-form-footer>

