.product-image {
    max-width: 100%;
}

.product-title {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.key-selling-point-text {
    padding-bottom: 0.5rem;
}

ion-list {
    padding: 0;
}

ul {
    padding-inline-start: 2rem;
}

.consumption-text {
    margin: 0;
    font-size: 14px;
}

.price-details-per-month-year-container {
    p:first-child {
        margin-top: 1rem;
    }
}