.product-image {
    width: 100%;
    height: 20%;
}

.key-selling-point-text {
    padding-bottom: 0.5rem;
}

ion-list {
    padding: 0;
}

ul {
    padding-inline-start: 2rem;
}

.consumption-text {
    margin: 0;
    font-size: 14px;
}