<cb-header [isTranslucent]="true">
    <ion-title cb-header-1>{{ 'CB.PRODUCT_DETAILS.PRODUCT_DETAILS' | translate }}</ion-title>
</cb-header>

<ion-content [fullscreen]="true">
    <cb-header [collapseValue]="'condense'">
        <ion-title cb-header-1>{{'CB.PRODUCT_DETAILS.PRODUCT_DETAILS' | translate}}</ion-title>
    </cb-header>

    <ion-img *ngIf="productBgImage" [src]="productBgImage" class="product-image"></ion-img>

    <ion-grid>
        <ion-row>
            <ion-col *ngIf="product" size="6">
                <ion-list>
                    <ion-list-header *ngIf="product.name">{{product.name}}</ion-list-header>
                    <ul>
                        <li *ngFor="let ksp of product.keySellingPoints" class="key-selling-point-text">{{ksp}}</li>
                    </ul>
                </ion-list>
            </ion-col>

            <!-- Right Column: Consumption Input -->
            <ion-col size="6">
                <cb-consumption-input 
                    (consumptionChangedEvent)="handleConsumptionChangeEventEtHt($event, sector)"
                    [consumptionPerYearLabel]="'CB.PRODUCT_DETAILS.CONSUMPTION_PER_YEAR_ETHT'"
                    [consumptionPerYear]="contract.consumptionPerYearEtHt"
                    [sector]="sector"
                ></cb-consumption-input>
                <!-- Night Consumption Tariff Consumption -->
                <cb-consumption-input *ngIf="sector.isDoubleTariffEnabled"
                    (consumptionChangedEvent)="handleConsumptionChangeEventNt($event, sector)"
                    [consumptionPerYearLabel]="'CB.PRODUCT_DETAILS.CONSUMPTION_PER_YEAR_NT'"
                    [consumptionPerYear]="contract.consumptionPerYearNt"
                    [sector]="sector"
                ></cb-consumption-input>

                <p class="ion-text-center consumption-text">{{contract.pricePerConsumption || ''}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <cb-form-footer>
        <ion-button
            cb-bottom-button
            expand="full"
            (click)="confirmConsumption()"
            [disabled]="isConsumptionInvalid()"
        >
            <ion-label color="light">{{'CB.PRODUCT_DETAILS.CONFIRM_PRODUCT' | translate}}</ion-label>
        </ion-button>
    </cb-form-footer>
</ion-footer>