ion-radio {
    margin-top: 1rem;
}

ion-radio::part(container) {
    width: 26px;
    height: 26px;
  
    border-radius: 8px;
    border: 1.5px solid #ddd;
}
  
ion-radio::part(mark) {
    background: none;
    transition: none;
    transform: none;
    border-radius: 0;
}
  
ion-radio.radio-checked::part(container) {
    background: var(--ion-color-warning);
    border-color: transparent;
}
  
ion-radio.radio-checked::part(mark) {
    width: 5px;
    height: 10px;
  
    border-width: 0px 2px 2px 0px;
    border-style: solid;
    border-color: #fff;
  
    transform: rotate(45deg);
}