ion-content {
    --offset-bottom: 0px !important;
}

ion-checkbox::part(container) {
    --border-color: var(--ion-color-warning);
    --checkmark-color: white
}

.sector-checked-dropdown-container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.sector-checked-dropdown-container > *:not(ion-list) ion-col {
    padding: 0 !important;
}

.price-comparison-price-per-product {
    font-size: 12px;
    color: var(--ion-color-medium);
}