/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-grid {
    height: 100%;
    width: 100%;
}

hub-form-footer {
    ion-toolbar {
        --min-height: 0;
    }
    ion-button {
        --background: var(--ion-color-primary);
        margin: 0;     
    }
}

hub-form-input {
    ion-item {
        > ion-input {
            margin-bottom: 8px;
            border-radius: 8px;
            --padding-start: 8px !important;
            border: 2px solid var(--ion-color-primary);
    
            &.has-value.ion-invalid {
                border-color: var(--ion-color-danger) !important;
            }

            &.ion-invalid {
                border-color: var(--ion-color-danger) !important;
            }
        }
    }
}

cb-form-footer {
    ion-toolbar {
        --min-height: 0;
    }
    ion-button {
        --background: var(--ion-color-warning);
        margin: 0;
    }
}

cb-form-footer-2 {
    ion-toolbar {
        --min-height: 0;
    }
    ion-button {
        margin: 0;
        width: 50%;
        --border-radius: 0px;
    }
}

cb-form-input {
    ion-item {
        > ion-input {
            margin-bottom: 8px;
            border-radius: 8px;
            --padding-start: 8px !important;
            border: 2px solid var(--ion-color-warning);
    
            &.has-value.ion-invalid {
                border-color: var(--ion-color-danger) !important;
            }

            &.ion-invalid {
                border-color: var(--ion-color-danger) !important;
            }
        }
    }
}

ion-list {
    background: transparent !important;
}

ion-item {
    --background: transparent;
}

// https://forum.ionicframework.com/t/hidden-attribute-ignored-after-upgrade-to-v7/232784
[hidden] {
    display: none !important;
}