<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title slot="start" color="primary">{{ 'DASHBOARD.DASHBOARD' | translate }}</ion-title>
        <ion-icon slot="end" size="large" name="log-out-outline" color="primary" (click)="logoutUser()" class="logout-icon"></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ 'DASHBOARD.DASHBOARD' | translate }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-grid>
        <ion-row><ion-col>
            <ion-card class="modern-card" (click)="goToContractBooker()">
                <!-- Images -->
                <ion-row><ion-col>
                    <img alt="gas" src="assets/icon/contract-booker/gas.svg" />
                </ion-col>
                <ion-col>
                    <img alt="electricity" src="assets/icon/contract-booker/electricity.svg" />
                </ion-col></ion-row>
                <!-- App Title -->
                <ion-card-header>
                    <ion-card-title>Contract Booker</ion-card-title>
                </ion-card-header>
                <!-- App Description -->
                <ion-card-content>
                    This application lets you book electricity and gas contracts.
                </ion-card-content>
            </ion-card>
        </ion-col></ion-row>
    </ion-grid>
</ion-content>
