<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'CB.CUSTOMER_ADDRESS.CUSTOMER_ADDRESS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'CB.CUSTOMER_ADDRESS.CUSTOMER_ADDRESS' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-grid>
        <form class="login-form-container" [formGroup]="customerAddressFormGroup" (ngSubmit)="validateCustomerAddress()">
            <hub-form-input>
                <ion-input
                    form-input-field
                    type="text"
                    label="{{ 'CB.CUSTOMER_ADDRESS.STATE' | translate }}"
                    labelPlacement="floating"
                    placeholder="{{ 'CB.CUSTOMER_ADDRESS.SELECT_STATE' | translate }}"
                    formControlName="state"
                ></ion-input>
            </hub-form-input>
        </form>
    </ion-grid>
</ion-content>
