.module-items {
    ion-icon {
        width: 16px;
        height: 16px;
        margin-right: 1rem;
    }

    ion-badge {
        border-radius: 16px;
        --padding-end: 8px;
        --padding-start: 8px;
    }
}