.sector-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-container {
    display: flex;
    justify-content: center;
}

.highlight-border {
    border: 2px solid #ffcc00; /* Set the border style, you can adjust the color and size as needed */
    border-radius: 5px; /* Optional: add rounded corners to the border */
}